body{
    background-color:#efefef
}
#btn{
    width:800px;
    height: 500px;
    background: #ef454a;
    margin:30px auto;
    text-align: center;
    line-height: 500px;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 10px 0 #d1483e;
    user-select: none;
}

#btn:hover{
    opacity: 0.9;
}

#btn:active{
    box-shadow: 0 5px 0 #d1483e;
    margin-top: 35px;
}